[submodule "packages/event-schema/tools/google/LocationHistoryFormat"]
	path = packages/event-schema/tools/google/LocationHistoryFormat
	url = https://github.com/CarlosBergillos/LocationHistoryFormat.git
