.DS_Store
node_modules
build
.svelte-kit
package
.env.*
!.env.example
.cache
dist
generated
temp
lib
converage

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
/apps/backend/.env.development.toml.bak
